{% extends 'base.html' %}

{% block content %}

<img class="profile-img" src="{{ user.image_url }}" alt="">
<h2>{{ user.first_name }} {{ user.last_name }}</h2>
<form>
    <button formaction="/users/{{ user.id }}/edit" formmethod="GET">Edit</button>
    <button formaction="/users/{{ user.id }}/delete" formmethod="POST">Delete</button>
</form>
<h2>Posts</h2>
<ul>
    {% for post in posts %}
    <li><a href="/posts/{{ post.id }}">{{ post.title }}</a></li>
    {% endfor %}
</ul>
<form>
    <button formaction="/users/{{ user.id }}/posts/new" formmethod="GET">Add Post</button>
</form>
<a href="/users">Back</a>

{% endblock %}